body {
    background-color: $color-primary-0;
    width: 100vw;
    height: 99vh;
    margin: 0px;
}

.container {
    @include container();
    overflow: hidden;
    position: relative;
    height: 100%;
    iframe {
        position: fixed;
        bottom: 0px;
    }
}

#weeknd {
    position: absolute;
    height: 90%;
    left: 50%;
    bottom: 0px;
    div {
        height: 100%;
        object {
            position: relative;
            height: 100%;
            left: -50%;
        }
    }
}